* {
  box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15pt;
    background: #1d1830;
    background: linear-gradient(to bottom left, #291741, #1d1830, #1d1830);
}

img {
  border-radius: 10px 10px;
  border: 10px solid transparent;
  border-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)) 10;
}

table {
    font-size: 35px;
    color: #00fffb;
    text-align: center;
    border: 5px;
    border-color: rgba(176, 255, 251, 0.5);
    background: rgba(176, 255, 251, 0.1);
}

/*Главная Страничка*/

.head {
    text-align: center;
}

.nectare {
    color: #ff1af4;
    font-size: 100px;
    letter-spacing: .5rem;
}

.src-img {
  color: #00fffb;
  text-decoration: none;
  letter-spacing: .5rem;
  font-size: x-large;
}

/*Блочная структура*/

.col-3 {
  background: transparent;
  margin: 10px;
  width: 100%;
  text-align: center;
}

.row {
    display: flex;
    background: transparent;
    width: 70%;
    margin:0 auto;
}

/*Страничка Меню*/

.table_menu {
    font-size: 25px;
    color: #00fffb;
    text-align: center;
    border: 5px;
    border-color: rgba(176, 255, 251, 0.5);
    background: rgba(176, 255, 251, 0.1);
}

.menu_head {
    font-size: 100px;
    color: rgb(255, 219, 251);
    text-align: center;
    border: 5px;
    border-color: rgba(176, 255, 251, 0.5);
    background: rgba(176, 255, 251, 0.1);
}

/*Страничка Роботы*/

.robots_head {
    border: 5px;
    margin-left: 15%;
    border-color: rgba(255, 186, 248, 0.5);
    margin-right: 15%;
    background: linear-gradient(to bottom left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)) 10;
    text-align:center;
    color: rgb(255, 219, 251);
    font-size: 30px;
    letter-spacing: .5rem;
}

.robots img{
    display:block;
    width:auto;
    heigth:auto;
}

.table_robots {
    font-size: 35px;
    color: #00fffb;
    text-align: center;
    border-color: rgba(176, 255, 251, 0.5);
    background: rgba(176, 255, 251, 0.1);
    margin-left: 15%;
    border: 10px;
    margin-right: 15%;
}

/*Подвал*/

footer {
    background-color: rgb(145, 197, 193);
    margin-top: 30px;
    color: #014540;
    border-top: 10px solid rgb(089, 167, 162);
    padding: 1.5%;
}

.footer_a{
  text-decoration: none;
  color: #014540;
}

/* Код для выпадающего текста */

.info {
  background-color: rgba(150, 220, 255, 0.25);
  padding: 10px 25px;
}

.info__switch {
  display: none;
}

.info__body {
  color: #ffffff;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s;
}


.info__switch:checked~.info__body {
  max-height: 100%;
}

.info__headline::before {
  color: #ffffff;
  content: "";
  position: absolute;
  left: -18px;
  top: 4px;
  border: 6px solid #39739d;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

.info__switch:checked~.info__headline::before {
  transform: rotate(180deg) translateY(6px);
}

.info__headline {
  display: block;
  position: relative;
  margin-bottom: 15px;
  user-select: none;
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
}

.info__headline:hover {
  text-decoration: underline;
}

